<label for="drop-zone-file" class="drop-zone-area {{if isDragging "is-dragging"}}">
  <div class="icon">
    <i class="fa fa-copy"></i>
  </div>
  <div class="label">Drop CSV here or click to upload</div>
</label>
<input onchange={{action "handleFileChange"}} type="file" id="drop-zone-file" class="drop-zone-file">