<div class="name">
  <span class="first-name">{{data.firstName}}</span>
  <span class="last-name">{{data.lastName}}</span>
</div>
{{#if showEditButton}}
  <button class="btn btn-light edit-button" {{action "editButtonClicked"}}>Edit</button>
{{/if}}