body.tags-list-new {
  .new-tag-section-wrapper {
    top: 0;
    z-index: 1;
  }
  .input-section {
    left: 0;
    background-color: theme-color('primary');
  }
  .display-section {
    right: 0;
    background-color: white;
  }
}