.tag-component {
  background-repeat: no-repeat;
  padding-top: 133.333333%;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 8px 32px -4px rgba(0, 0, 0, 0.75);
  transition: transform .5s ease, box-shadow .5s ease;
  .name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    height: 36.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .first-name, .last-name {
      font-weight: 600;
      font-size: 36.88px;
      display: block;
      line-height: 1.2em;
    }
  }
  &.template-1 {
    .first-name, .last-name {
      font-size: 36.88px;
      @media (max-width: 1199px){
        font-size: 30.02px;
      }
      @media (max-width: 991px){
        font-size: 30.02px;
      }
      @media (max-width: 769px){
        font-size: 21.44px;
      }
      @media (max-width: 575px){
        font-size: 13.55vw;
      }
    }
  }
}