body.tags-index-new {
  .new-tag-section-wrapper {
    top: 0;
  }
  .input-section {
    left: 0;
    background-color: $vertical-grey;
  }
  .display-section {
    right: 0;
    background-color: white;
  }
}