<section class="print-section">
  <div class="top">
    <button class="btn btn-light btn-icon without-shadow close-button" {{action "closePrintList"}}><i class="oi oi-x"></i></button>
  </div>
  <div class="list container">
    <aside class="row tags-list">
      {{#each printList.list as |tag|}}
        <div class="col-sm-4 col-lg-3">
          {{tag-component data=tag}}
        </div>
      {{/each}}
    </aside>
  </div>
  <div class="bottom">
    <button class="btn btn-primary without-shadow" {{action "printTags"}}>Print</button>
  </div>
</section>