// Buttons =====================================================================

@each $color, $value in $theme-colors {
  @if $color == 'light' {
    .btn-light:not(.without-shadow) {
      box-shadow: 0 8px 20px -2px transparentize(theme-color('dark'),0.6);
      &:focus,
      &.focus,
      &:not([disabled]):not(.disabled):active,
      &:not([disabled]):not(.disabled).active {
        box-shadow: 0 8px 20px -2px transparentize(theme-color('dark'),0.6);
      }
    }
  } @else {
    .btn-#{$color}:not(.without-shadow) {
      color: white;
      box-shadow: 0 8px 20px -2px transparentize($value,0.4);
      &:focus,
      &.focus,
      &:not([disabled]):not(.disabled):active,
      &:not([disabled]):not(.disabled).active {
        box-shadow: 0 8px 20px -2px transparentize($value,0.4);
      }
    }
  }
}
.btn {
  cursor: pointer;
  &.btn-icon {
    padding: 0;
    height: 42px;
    width: 42px;
    line-height: 42px;
  }
  &.btn-lg {
    &.btn-icon {
      height: 56px;
      width: 56px;
      line-height: 56px;
    }
  }
  &.btn-sm {
    &.btn-icon {
      height: 31px;
      width: 31px;
      line-height: 31px;
    }
  }
}
.btn-lg:not(.btn-icon) {
  .oi {
    font-size: 0.8em;
    margin-left: spacer(2);
  }
}

// Forms =====================================================================

.form-control {
  border: none;
  &:focus,
  &.focus {
    box-shadow: $input-btn-focus-box-shadow
  }
  &.with-shadow {
    box-shadow: 0 8px 32px -4px transparentize(theme-color('dark'),0.6);
  }
}

// Alerts ====================================================================

@each $color, $value in $theme-colors {
  @if($color == 'light') {
    .alert-light {
      @include alert-variant(theme-color($color), theme-color-level($color, 2), theme-color('dark'));
      .alert-link {
        color: theme-color('dark');
        text-decoration: underline;
      }
    }
  } @else {
    .alert-#{$color} {
      @include alert-variant(theme-color($color), theme-color-level($color, 2), white);
      .alert-link {
        color: white;
        text-decoration: underline;
      }
    }
  }
}