$theme-colors: (
  "primary": #4582EC,
  "secondary":  $secondary,
  "success": #02B875,
  "info": #5bc0de,
  "warning": #f0ad4e,
  "danger": #d9534f,
  "light":      #f7f7f7,
  "dark":       $dark
);
$gray-lighter: #ddd;

$enable-rounded: true;

// Buttons
$input-btn-padding-x: 1.1rem;
$input-btn-padding-y: .5rem;
$input-btn-padding-x-sm: .75rem;
$input-btn-padding-y-sm: .25rem;
$input-btn-padding-x-lg: 1.5rem;
$input-btn-padding-y-lg: .75rem;
$btn-border-radius: #{$line-height-base + strip-unit($input-btn-padding-x)}rem;
$btn-border-radius-sm: #{$line-height-sm + strip-unit($input-btn-padding-x-sm)}rem;
$btn-border-radius-lg: #{$line-height-lg + strip-unit($input-btn-padding-x-lg)}rem;

// Forms
$input-border-radius: #{$input-btn-line-height + strip-unit($input-btn-padding-y)}rem;
$input-border-radius-lg: #{$input-btn-line-height-lg + strip-unit($input-btn-padding-y-lg)}rem;
$input-border-radius-sm: #{$input-btn-line-height-sm + strip-unit($input-btn-padding-y-sm)}rem;
$input-focus-border-color: transparent;
$input-btn-focus-width: 0.3rem;

// Alerts

$alert-padding-x:             1.25rem !default;
$alert-padding-y:             .75rem !default;
$alert-margin-bottom:         $spacer-y !default;
$alert-border-radius:         $border-radius !default;
$alert-link-font-weight:      600 !default;
$alert-border-width:          $border-width !default;