<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <ul class="nav">
        <li class="nav-item">
          <button class="btn btn-lg btn-primary">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-light">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-warning">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-danger">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-info">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-secondary">New</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-lg btn-success">New</button>
        </li>
      </ul>
    </div>
  </div>
  <aside class="row">
    {{#each model as |tag|}}
      <div class="col-sm-4 col-lg-3">
        {{tag-component data=tag}}
      </div>
    {{/each}}
  </aside>
</section>