<section class="print-list-section">
  {{#each model as |tag|}}
    <div class="print-tag-block">
      <div class="print-tag-component">
        <div class="name">
          <span class="first-name">{{tag.firstName}}</span>
          <span class="last-name">{{tag.lastName}}</span>
        </div>
        <img src="https://s3.amazonaws.com/name-tag-studio-server/assets/images/name-tag.png">
      </div>
    </div>
    <div class="print-tag-block">
      <div class="print-tag-component">
        <div class="name">
          <span class="first-name">{{tag.firstName}}</span>
          <span class="last-name">{{tag.lastName}}</span>
        </div>
        <img src="https://s3.amazonaws.com/name-tag-studio-server/assets/images/name-tag.png">
      </div>
    </div>
  {{/each}}
</section>