<div class="big-spinner-wrapper">
  <strong class="big-spinner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </strong>
</div>