<img src="images/vertical-church-logo-white.svg" class="logo" alt="Vertical Church Charleston">
<h1>Name Tag Studio</h1>
{{#link-to 'tags' class="btn btn-secondary"}}Get Started{{/link-to}}
{{!-- <button class="btn btn-secondary">Get Started</button> --}}