{{outlet}}
{{#if printList.list.length}}
  {{#link-to 'tags.list.print'}}
    <div class="print-list">
      <div class="count">{{printList.list.length}}</div>
      <i class="oi oi-print"></i>
    </div>
  {{/link-to}}
{{/if}}