{{outlet}}
{{#link-to 'tags.list.print' class=(if printList.list.length "show" "")}}
  <div class="print-list">
    {{#if printList.list.length}}
      <div class="count">{{printList.list.length}}</div>
    {{/if}}
    <i class="oi oi-print"></i>
  </div>
{{/link-to}}