@keyframes inputSectionSlideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes displaySectionSlideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes inputSectionSlideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes displaySectionSlideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

body.tags-list {
  .nav {
    padding: 40px 0;
  }
  .tag-component {
    margin-bottom: 15%;
  }
  .no-tags {
    svg {
      width: 200px;
      path, polygon, rect {
        fill: $text-muted;
      }
    }
  }
  .input-section {
    left: 0;
    background-color: theme-color('primary');
    animation-name: inputSectionSlideIn;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    top: 0;
    z-index: 1;
    &.leaving {
      animation-name: inputSectionSlideOut;
    }
  }
  .display-section {
    right: 0;
    background-color: white;
    animation-name: displaySectionSlideIn;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    top: 0;
    z-index: 1;
    &.leaving {
      animation-name: displaySectionSlideOut;
    }
  }
  .print-list {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: theme-color('primary');
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    box-shadow: 0 8px 32px -4px transparentize(theme-color('dark'),0.6);
    z-index: 10;
    .count {
      line-height: 22px;
      text-align: center;
      position: absolute;
      right: -5px;
      top: -5px;
      background-color: theme-color('danger');
      width: 20px;
      height: 20px;
      border-radius: 50%;
      font-size: 0.8em;
    }
    .oi {
      font-size: 1.5em;
    }
  }
}

body.tags-list:not(.tags-list-new):not(.tags-list-edit) {
  .tag-component {
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 40px 50px -20px rgba(0,0,0,0.3);
    }
  }
}