body.tags-list:not(.tags-list-new):not(.tags-list-edit) {
  .nav {
    padding: 40px 0;
  }
  .tag-component {
    margin-bottom: 15%;
    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 40px 50px -20px rgba(0,0,0,0.3);
    }
  }
  .no-tags {
    svg {
      width: 200px;
      path, polygon, rect {
        fill: $text-muted;
      }
    }
  }
}