@media print {
  a {
    display: none
  }
  @page {
    size: 8.5in 11in portrait;
    margin: 0;
    width: 8.5in;
    height: 11in;
  }
  body {
    font-family: "Gibson",sans-serif;
    width: 612px;
    height: 792px;
    margin: 0;
    color: white;
    -webkit-print-color-adjust: exact;
  }
  .print-list-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
  }
  .print-tag-component {
    position: relative;
    overflow: hidden;
    width: 35.294117647058826%;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0.75in 0in;
    img {
      width: 100%;
    }
    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      text-align: center;
      height: 36.3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 40%;
      span {
        font-weight: 600;
        line-height: 1.2em;
        display: block;
      }
      .first-name, .last-name {
        font-size: 35px;
        text-transform: capitalize;
        color: #0C90BC;
      }
    }
  }
}
